.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    gap: 20px;

}

.menu-item {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease-in-out; 
}

.menu-item:hover {
    transform: scale(1.05); 
} 

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

.menu-item h3 {
    margin: 1rem 0;
}

.menu-item .price {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

.menu-item button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
    font-size: 1rem;
    transition: background-color 0.3s;
}

 .menuitem button:hover {
    background-color: #444;
} 

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}